div, img, a, li, ul, span, html, body {
    margin: 0;
    padding: 0;
    display: block;

} 
body {
	width: 350px;
	margin: 90px 15%;
}
.conter {
    height: 100%;
    width: 180%;
}
h2 {
    text-align: center;
    font-family: 'Smokum', cursive;
    font-size: 42px;
    background-color: red;
    width: 160%;
}
table {
    align-items: center;
    padding: 4px;
    margin: auto 8%;
}
a {
    text-align: center;
    font-family: "arial";
    font-size: 22px;
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #FFFF00;
}
th:hover {
	background-color: #FFFF00;
}

img {
    margin: 2px;
    width: 180px;
    height: 240px;
}
img:hover {
    border: 2px inset #000000;

}

