:root {
    --CorTexto: #230222;
    --CorLinha: #cf8f59;
    --CorFundo: #f3f1b5;
}
html {
    scroll-behavior: smooth;
}
div, a, li, ul, html, body {
    margin: 0;
    padding: 0;
    display: block;

}
.conter {
	margin: 30px;
    background-color: var(--CorFundo);
    color: #686363;
    padding: 10px;
}
.texto {
    padding: 12px;
}
.titulo:hover {
    color: var(--CorTexto);

}
h2{
    text-align: center;
}
h3 {
    border: 2px solid #ac1700;
    border-bottom: #000;
    font-weight: 800;
    font-size: 28px;
}
nav {
    background-color: var(--CorLinha);
    font: 19px arial, sans-serif;
    text-align: center;
}
a {
    text-decoration: none;
    color: var(--CorTexto);
    display: inline;
}
a:hover {
    color: #4040da;
}
span {
    font: 21px Arial;
    line-height: 1.5;
}
li {
    display: inline;
    margin: 0px 5px;
}
img {
    float: left;
    margin: 18px;
}
.manuel {
    width: 250px;
}
.modernista {
    width: 400px;
}
.cartaz {
    width: 360px;
}
.coluna {
    width: 340px;
}
.seta {
    width: 40px;
    margin: 0;
    text-align: center;
}
@media (max-width: 800px) {
    span {
        font: 16px Arial;
        line-height: 1.5;
    }
    .conter {
        margin: 0;
    }
}      
